REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_CACHE_TTL=86400
DASHBOARD_USERNAME=
DASHBOARD_PASSWORD=
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=screenshots
MINIO_SECURE=false
